
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}
input {
    padding: 8px;
    margin: 5px;
}
button {
    padding: 10px;
    background-color: blueviolet;
    color: yellow;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#rgbResult{
    height: 25vh;
}

#hexResult{
    height: 25vh;
}